version: 2.1
orbs:
  node: circleci/node@3.0.0
workflows:
  node-tests:
    jobs:
      - node/test:
          matrix:
            parameters:
              version:
                - 8.17.0
                - 7.10.1
                - 6.16.0
